@page
@model StockTracker.Pages.AppInfoModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="display-4">Welcome to Stock Tracker</h1>
                <p class="lead">Stock Tracker is a powerful tool for monitoring stock performance and staying updated with relevant news.</p>
            </div>
            <div>
                <h2 class="mb-4">Key Features:</h2>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Interactive Stock Graph:</strong> Click on the Stock Tracker text at the top left corner to access an interactive graph displaying the performance of a selected stock. Easily switch between different stocks by entering their ticker symbols.</li>
                    <li class="list-group-item"><strong>Customizable Time Intervals:</strong> Choose from predefined time intervals such as 1 day, 1 week, 1 month, or 1 year to view historical stock data.</li>
                    <li class="list-group-item"><strong>Highlighted Trends:</strong> The stock graph highlights significant growth or decline periods with dashed green or red lines, helping users identify key trends at a glance.</li>
                    <li class="list-group-item"><strong>General News Section:</strong> Stay informed with the latest news related to the stock market and general finance. News items are updated regularly to keep you informed.</li>
                    <li class="list-group-item"><strong>Interval News:</strong> Dive deeper into the news relevant to your selected stock by accessing interval news. These news items are curated based on dates when significant changes in the stock value occurred.</li>
                </ul>
            </div>
            <div class="text-center mt-4">
                <p class="lead">Experience the convenience of tracking stocks and staying informed with Stock Tracker today!</p>
            </div>
        </div>
    </div>
</div>



